@import "variables";
@import "typography";

body {
  line-height: 1.6em;
  background-color: $gray-light;
  color: $gray-dark;
}
@media only screen and (min-width: 767px) {
  .container-fluid {
    padding: 0 30px;
  }
}
a {
  color: $main-colour;
  &:focus {
    text-decoration: none;
  }
}
.thumbnail {
  min-height: 100px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: $gray-medium;
  img {
    width: 100%;
  }
}
.main-navigation {
  border: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: $black;
  color: $white;
  a {
    color: $main-colour;
  }
  .navbar-header {
    a.navbar-brand {
      color: $white;
      font-weight: 700;
      border-bottom: 2px solid $main-colour;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      li {
        a {
          color: $white;
          text-shadow: 0, 0, .005px darken($main-colour, 35%);
          &:hover {
            color: $main-colour;
          }
        }
        &.active {
          a {
            color: $main-colour;
            background-color: $black;
          }
        }
      }
    }
  }
}
.main-article-wrapper {
  min-height: 200px;
}
.article-single {
  position: relative;
  z-index: 1;
  height: 100%;
  &.shown-single {
    .article-single-header {
      min-height: 300px;
      h1 {
        font-size: 3.2em;
      }
      .article-single-meta {
        font-size: 1em;
      }
    }
  }
  .article-single-header {
    position: relative;
    width: 100%;
    min-height: 200px;
    z-index: 3;
    padding: 10px 0;
    text-shadow: 0 0 .005px $black;
    background-color: $gray-medium;
    color: $white;
    .text-wrap {
      position: absolute;
      bottom: 0;
    }
    a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
    .tags {
      padding: 15px 0;
      .tag {
        border: 0px solid transparent;
        border-radius: 12.5px;
        margin-right: 5px;
        padding: 5px 10px;
        height: 25px;
        font-size: 15px;
        line-height: 15px;
        background-color: $main-colour;
        box-shadow: 0 0 .05px $black;
      }
    }
    .article-single-meta {
      font-size: .85em;
      .date {
        display: inline-block;
      }
      .author {
        position: relative;
        display: inline-block;
        a {
          font-style: italic;
          color: $gray-light;
          &:hover {
            color: $main-colour;
          }
        }
        .author-avatar {
          position: absolute;
          right: -32.5px;
          bottom: -2.5px;
          padding: 5px;
          display: inline-block;
          width: 25px;
          border-radius: 12.5px;
          height: 25px;
          box-shadow: 0 0 .05px $black;
        }
      }
    }
    .article-single-thumbnail {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      &::before {
        position: absolute;
        z-index: 1;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .25);
      }
    }
  }
  .social {
    position: relative;
    margin-top: -30px;
    width: 100%;
    display: block;
    padding: 5px 0;
    background-color: $white;
    .like-button {
      &.liked {
        color: $gray-dark;
        .fa {
          color: $gray-dark;
        }
        &:hover {
          color: darken($gray-light, 15%);
          cursor: not-allowed;
          .fa {
            color: darken($gray-light, 15%);
          }
        }
      }
    }
    a {
      font-style: normal;
      color: $gray-medium;
      font-size: 1.8em;
      font-weight: 700;
      line-height: 2em;
      .fa {
        padding-right: 5px;
        line-height: 2em;
        font-size: 0.75em;
      }
      &:not(:first-child) {
        padding-left: 20px;
      }
      &:hover {
        .fa {
          color: $main-colour;
        }
      }
    }
  }
  .article-single-body {
    padding-top: 30px;
    padding-bottom: 45px;
    @media only screen and (min-width: 767px) {
      padding: 30px 30px 45px 45px;
      margin-left: -30px;
    }
    background-color: $white;
  }
}
.show-page {
  .show-page-header {
    height: 80px;
    background-color: lighten($black, 5%);
    color: $white;
    .user-avatar {
      position: relative;
      height: 60px;
      padding-left: 80px;
      .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: $main-colour;
      }
    }
  }
  .show-page-body {
    padding-top: 30px;
    padding-bottom: 45px;
    @media only screen and (min-width: 767px) {
      padding: 30px 30px 45px 45px;
      margin-left: -30px;
    }
    background-color: $white;
    .user {
      a {
        color: $gray-dark;
        text-decoration: none;
        &:hover {
          color: $main-colour-dark;
          h3 {
            color: $main-colour-dark;
          }
        }
      }
      .user-bio {
        strong {
          font-size: .8em;
        }
      }
      .user-latest {
        padding: 0 10px;
        margin: 15px 0;
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        .thumbnail {
          border: 0;
          border-radius: 0;
          height: 200px;
        }
      }
      .user-all {
        a {
          font-size: .75em;
          color: $gray-medium;
          h3 {
            color: $gray-dark;
            font-size: 1.2em;
          }
        }
        .single {
          margin-top: 15px;
          padding: 5px 15px;
          height: 75px;
          background-color: darken($gray-light, 5%);
          &:nth-child(odd) {
            background-color: $gray-light;
          }
        }
      }
    }
  }
}
#sidebar {
  font-size: .85em;
  padding: 15px;
  @media only screen and (min-width: 767px) {
    padding: 0 0 15px 15px;
    margin-right: -15px;
  }
  .related, .trending, .latest {
    background-color: $gray-light;
  }
  h2.sidebar-title {
    display: none;
    &.data-fetched {
      display: block;
    }
  }
  .article-single {
    a {
      color: $gray-dark;
      &:hover {
        color: $main-colour-dark;
        text-decoration: none;
      }
      p {
      }
    }
    .article-single-thumbnail {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
.home-content {
  background-color: $gray-light;
  color: $black;
  font-size: 1em;
  .trending, .popular {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    &:hover {
      h1, h2, h3, p {
        color: $main-colour-dark;
      }
      color: $main-colour-dark;
    }
  }
}
.latest {
  color: $gray-dark;
  a {
    font-size: .8em;
    color: $gray-dark;
    &:hover {
      color: $main-colour;
    }
    &:last-child {
      article {
        > header {
          border: none;
        }
      }
    }
  }
  .item {
    > header {
      border-bottom: 1px solid darken($gray-light, 15%);
    }
  }
}
.popular, .related, .trending {
  background-color: $white;
  color: $gray-dark;
  a {
    color: $gray-dark;
    &:hover {
      color: $main-colour;
      p {
        color: $gray-dark;
      }
    }
  }
  .item {
    padding: 15px 0;
  }
}
.content {
  h2 {
    font-size: 1em;
    color: darken($gray-light, 20%);
    @media only screen and (max-width: 767px) {
      padding-top: 15px;
    }
  }
}
.footer-main {
  padding: 30px 0 30px 0;
  background-color: $black;
  color: $gray-medium;
  font-size: .85em;
  a:hover {
    color: $main-colour-dark;
  }
}
